.log__exercise {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  font-size: 2rem;
  padding: 1rem;
  position: relative;
}
.log__exercise__title {
  align-self: center;
  color: #27e77f;
  font-size: 3rem;
  text-transform: uppercase;
}
.log__exercise__data {
  margin-top: 2rem;
  padding: 0rem 2rem;
}
.log__exercise__data__columns {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}
.log__exercise__data__column {
  color: #fff;
  background-color: #1b1b1b;
  border-radius: 10px;
  padding: 1.5rem;
  text-align: center;
  flex-basis: 30%;
}

.log__exercise__data__rows {
  display: flex;
  flex-direction: column;
}
.log__exercise__data__row {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 1.5rem;
  position: relative;
}
.log__exercise__data__row__item {
  width: 30%;
  text-align: center;
  font-size: 2rem;
  background: transparent;
  border: none;
  outline: none;
  color: #27e77f;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 1rem;
}
.add__set__button {
  color: #27e77f;
  align-self: center;
  background-color: #1b1b1b;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
}
.log__exercise__buttons {
  padding: 0 2rem;
  flex: 1;
}
.log__exercise__button {
  background-color: #27e77f;
  color: #000;
  font-size: 3rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
  outline: none;
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
  margin: 2.5rem 0;
  cursor: pointer;
}
.cancel__exercise__button {
  background-color: #757575;
  color: #000;
  font-size: 3rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
  outline: none;
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}
.log__exercise__error {
  margin-top: 2.5rem;
  color: red;
  text-align: center;
}

@media (max-width: 340px) {
  .log__exercise {
    font-size: 1.5rem;
  }
  .log__exercise__button {
    font-size: 1.75rem;
  }
  .cancel__exercise__button {
    font-size: 1.75rem;
  }
}

@media (min-width: 750px) {
  .log__exercise__button {
    width: 75%;
    display: block;
    margin: 2.5rem auto;
  }
  .cancel__exercise__button {
    width: 75%;
    margin: 0 auto;
    display: block;
  }
}

@media (min-width: 1000px) {
  .log__exercise__button {
    width: 50%;
  }
  .cancel__exercise__button {
    width: 50%;
  }
}
