.form__login {
  margin: 3rem auto;
  width: 70%;
}
.form__login__email {
  height: 4.5rem;
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__login__email__input {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: transparent;
  font-size: 2rem;
  font-family: inherit;
  color: #fff;
}
.icon-email {
  margin: 0 1rem;
}
.form__login__password {
  height: 4.5rem;
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.form__login__password__input {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: transparent;
  font-size: 2rem;
  font-family: inherit;
  color: #fff;
}
.icon-password {
  margin: 0 1rem;
}
.button__login {
  width: 100%;
  height: 4.5rem;
  text-align: center;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 4rem;
  border: none;
  outline: none;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #008d40;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.error {
  border: 2px solid red;
  color: red;
}

@media (min-width: 700px) {
  .form__login {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  .form__login {
    width: 40%;
  }
}
