.history {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 1rem;
}
.history__header {
  display: flex;
  justify-content: space-between;
}
.history__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #27e77f;
  margin-top: 3rem;
  text-align: center;
}
.history__text {
  font-size: 2rem;
}
.history__instructions {
  color: gray;
  text-align: center;
  margin-top: 1rem;
  font-size: 2rem;
}
.history__instructions-2 {
  color: gray;
  font-size: 1.75rem;
  text-align: center;
}
.history__instructions-2 span {
  color: green;
}
.history__calendar {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.react-calendar button {
  height: 5vh;
}
.react-calendar .react-calendar__navigation__arrow {
  width: 30px;
}
.bg-green {
  background: green;
}
.history__routine {
  text-align: center;
  font-size: 2.5rem;
  color: grey;
  flex: 1;
}
.history__routine__exercise {
  text-transform: uppercase;
  color: #27e77f;
  margin-top: 1rem;
}
.history__error {
  color: red;
  margin-top: 1rem;
  font-size: 2rem;
  text-align: center;
}
