.progress {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 1rem;
  height: 100vh;
}
.progress__header {
  display: flex;
  justify-content: space-between;
}
.progress__title {
  color: #27e77f;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.graph {
  position: relative;
  height: 40vh;
  width: 95vw;
}
.progress__select__exercise {
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.progress__select__exercise--text {
  background-color: #1b1b1b;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  text-transform: uppercase;
}
.progress__select__icon {
  cursor: pointer;
}
.progress__exercise__list {
  overflow: auto;
  font-size: 2rem;
  text-transform: capitalize;
  color: #27e77f;
}
.progress__exercise__cancel {
  color: red;
  display: block;
}
