.workout {
  display: flex;
  flex-direction: column;
  color: #fff;
  position: relative;
  flex: 1;
}
.workout__header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.workout__title {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.workout__text {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: rgba(39, 231, 127);
}
.workout__icon {
  color: rgba(39, 231, 127);
}
.workout__instructions {
  margin-top: 3rem;
  font-size: 2rem;
  text-align: center;
}
.workout__instructions span {
  color: rgb(39, 231, 127);
}
.workout__select {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.workout__select__title {
  font-size: 1.75rem;
  text-transform: uppercase;
  font-weight: 300;
  padding: 0.5rem 3rem;
  background-color: #1b1b1b;
  border-radius: 10px;
  margin-right: 1rem;
  cursor: pointer;
}
.workout__select__icon {
  color: #27e77f;
  cursor: pointer;
}
.workout__data {
  margin-top: 2rem;
  flex: 1;
  background-color: #101010;
  color: #27e77f;
  font-size: 2rem;
  text-transform: capitalize;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.workout__data__exercise {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2.5rem;
}
.workout__data__exercise__delete {
  color: #555553;
  cursor: pointer;
}
.log__workout {
  background-color: #27e77f;
  color: #000;
  font-size: 3rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
  outline: none;
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.message__modal {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  font-size: 2.5rem;
  text-align: center;
  color: #27e77f;
  background-color: #000;
  padding: 1rem 2rem;
}

.hidden {
  display: none;
}
