*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rowdies", cursive;
  font-weight: 300;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #000;
}
.hidden {
  display: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: #27e77f;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
